<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Seven5: Opinionated web development for Go (and only Go)</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="/assets/bootstrap-3.3.1/css/bootstrap.min.css" 
    rel="stylesheet">
    <link href="/assets/css/syntax.css" 
    rel="stylesheet">
    
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
    </style>

    <link rel="shortcut icon" href="/assets/ico/s5.png">

  </head>

  <body>


    <div class="container">
      <div class="row">
        <div class="col-md-9" role="main">
        {{content}}
        </div>
        <div class="col-md-3" role="complementary">
          <nav class="affix">
            <ul class="nav">
              <li>
                <A HREF="#start">Start</A>
                <A HREF="#setup">Setup</A>
                <A HREF="#simple-server">A Simple Server</A>
                <A HREF="#database">Add A Database</A>
                <A HREF="#migrations">Migrations</A>
                <A HREF="#simple-rest">Simple REST Service</A>
                <A HREF="#static-site">A Static Site</A>
                <A HREF="#signup-form">Signup Form</A>
              </li>
            </ul>
          </nav>
        </div>
      </div> <!-- row -->

	
      <hr>

      <footer>
        <p>&copy; Seven5 2015.  Static without remorse or pity.  But we pity the fools.</p>
      </footer>

    </div> <!-- /container -->

   
  </body>
</html>
